.products {
    background-color: black;
    color: white;
    padding-top: 50px;
}

.products-title {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576.8px) {

    .products-title {
        padding-top: 0px;
    }
}