.individualProtection {
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #0C0C0C;
}

/* .boxPath {
    background-color: #232323;
    min-height: 50px!important;
    display: flex;
    align-items: center;
} */

.boxPath-container {
    background-color: #232323;
    min-height: 50px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.boxPath-container__text {}

.boxPath-container__arrow {
    width: 7px;
}

.boxPath-container__arrow-image {
    width: 100%;
}

.individualProtection-mainTitle {
    padding-top: 50px;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 50px;
}

.individualProtection-baner {
    height: 550px;
}

.individualProtection-baner__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.individualProtection-secondaryTitle {
    font-size: 45px;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 70px;
}

.individualProtection-box {
    gap: 100px 35px;
    display: flex;
    flex-wrap: wrap;
}

.individualProtection-box__item {
    height: 400px;
    width: 300px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    position: relative;
    transition: background-image 0.3s ease-in-out;
    overflow: hidden;
}

.individualProtection-box__item:hover {
    filter: brightness(80%);
    transition: filter 0.3s ease-in-out;
}

.individualProtection-box__item:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
}

.individualProtection-box__item-picture {
    width: 100%;
    height: 100%;
}

.individualProtection-box__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.individualProtection-box__item-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.654);
    width: 100%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.individualProtection-box__item-text {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 1200px) {

    .individualProtection-box {
        justify-content: center;
    }

}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576.8px) {
    .individualProtection {
        padding-top:25px;
    }

    .individualProtection-box {
        gap: 35px 35px;
    }

    .individualProtection-mainTitle {
        font-size: 34px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .individualProtection-secondaryTitle {
        font-size: 35px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 35px;
    }
}