.setting {
    position: relative;
    z-index: 100;
}

.setting-carusel {
    background-color: rgb(170, 161, 161);
    padding: 20px;
    margin-bottom: 5px;
}

.setting-carusel__title {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

.setting-carusel__box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.setting-carusel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.setting-carusel__item-image {
    width: auto;
    height: 100px;
    cursor: pointer;
}

.setting-carusel__item-delete {
    background-color: rgb(113, 12, 12);
    border: none;
    border-radius: 8px;
    font-size: 13px;
    padding: 5px 15px;
    color: rgb(230, 216, 216);
}

.setting-upload {
    margin-top: 30px;
    background-color: rgb(142, 142, 142);
    width: 600px;
    padding: 30px;
}

.setting-upload__button {
    background-color: rgba(36, 36, 126, 0.676);
    padding: 5px 15px;
    color: rgb(230, 216, 216);
    border: none;
    border-radius: 7px;
    font-size: 13px;
}

.setting-news {
    height: 600px;
    padding: 20px;
    background-color: rgb(184, 177, 177);
}