.specialShoes {
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #0C0C0C;
}

.specialShoes-mainTitle {
    padding-top: 50px;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 50px;
}

.specialShoes-baner {
    height: 550px;
}

.specialShoes-baner__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.specialShoes-secondaryTitle {
    font-size: 45px;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 70px;
}

.specialShoes-box {
    gap: 100px 35px;
    display: flex;
    flex-wrap: wrap;
}

.specialShoes-box__item {
    height: 400px;
    width: 300px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    position: relative;
    transition: background-image 0.3s ease-in-out;
    overflow: hidden;
}

.specialShoes-box__item:hover {
    filter: brightness(80%);
    transition: filter 0.3s ease-in-out;
}

.specialShoes-box__item:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
}

.specialShoes-box__item-picture {
    width: 100%;
    height: 100%;
}

.specialShoes-box__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.specialShoes-box__item-bg {
position: absolute;
    background-color: rgba(0, 0, 0, 0.654);
    width: 100%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.specialShoes-box__item-text {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

    .specialShoes-box {
        justify-content: space-evenly;
    }
}

@media (max-width: 576.8px) {

    .specialShoes {
        padding-top:25px;
        padding-bottom: 50px;
    }

    .specialShoes-box {
        gap: 35px 35px;
    }
    
    .specialShoes-mainTitle {
        font-size: 35px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .specialShoes-secondaryTitle {
        font-size: 35px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 35px;
    }
}