.stock {
    color: white;
    padding-bottom: 100px;
    background-color: #0C0C0C;
}

.stock-secondaryTitle {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 70px;
}

.stock-box {
    display: grid;
    gap: 100px 35px;
    grid-template-columns: repeat(4, 1fr);
}

.stock-box__item {
    height: 500px;
    max-width: 300px;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.stock-box__item:hover {
    filter: brightness(80%);
    transition: filter 0.3s ease-in-out;
}

.stock-box__item:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
}


.stock-box__item-picture {
    width: 100%;
    height: 375px;
}

.stock-box__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stock-box__item-image:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.stock-box__item-image:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}


.stock-box__item-bg {
    background-color: #232323;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.stock-box__item-name {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.stock-box__item-price {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}