.header {
    position: relative;
    z-index: 1;
    height: 200px;
}

.header-contacts {
    padding-top: 10px;
    /* background-color: red; */

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.header-contacts__item {
    /* background-color: green; */
    /* height: 50px; */
    display: flex;
    flex-direction: column;
}

.header-contacts__item-name {
    /* background-color: yellow; */
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: white !important;
}

.header-contacts__item-city {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.header-contacts__item-city-active {
    /* background-color: blue; */
    cursor: pointer;
}

.header-contacts__item-address {
    font-size: 15px;
    font-weight: 400;
    color: #F07C00 !important;
    text-align: center;
    display: none;
}

.header-contacts__item-address-active {
    display: block;
}

.header-contacts__item-address:hover {
    color: white !important;
}

.header-contacts__item-telephone {
    font-size: 15px;
    font-weight: 400;
    color: #F07C00 !important;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    display: none;
}

.header-contacts__item-telephone-active {
    display: block;
}

.header-contacts__item-telephone:hover {
    color: white !important;
}

.header-contacts__item-image {
    width: 20px;
    padding-right: 5px;
}


.header-language {
    display: flex;
    margin-right: 20px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.header-language__en {
    padding: 5px;
}

.header-language__en:hover {
    color: #e28130 !important;
}

.header-language__active {
    background-color: #e28130;
    padding: 5px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    /* height: 100px; */
    /* padding-top: 20px; */
}

.header-logo__telephone {
    display: flex;
    align-items: center;
    min-width: 400px;
}

.header-logo__telephone-picture {
    width: 25px;
    padding-right: 10px;
}

.header-logo__telephone-image {
    width: 100%;
}

.header-logo__choice {}

.header-logo__choice-number {
    color: #e28130;
    font-size: 20px;
    font-weight: 500;
}

.header-logo__choice-link {
    color: #e28130 !important;
    font-size: 20px;
    font-weight: 500;
}

.header-logo__choice-link:hover {
    color: white !important;
}

.header-logo__choice-select {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.header-logo__choice-option {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    background-color: black;
    border: none;
}

.header-logo__picture {
    width: 100px;
}

.header-logo__image {
    width: 100%;
}

.header-logo__burger {
    display: flex;
    gap: 30px;
    min-width: 400px;
    justify-content: flex-end;
    align-items: center;
}

.burger-search__picture {
    width: 30px;
}

.burger-search__image {
    width: 100%;
}

.header-category {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.header-category__item {}

.header-category__item:hover {
    color: #F07C00 !important;
}

.action {
    color: #F07C00 !important;
}

/* .action:hover {
    color: white !important;
} */

.pulse-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 40px;
    border: none;
    background: #F07C00;
    position: fixed;
    bottom: 120px;
    left: 50px;
    cursor: pointer;
    z-index: 13;
}

.pulse-button-image,
.pulse-button-image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease-in-out;
}

.pulse-button__rings {
    border: 1px solid #F07C00;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    animation-duration: 2.0s;
    animation-name: pulse_1;
    animation-iteration-count: infinite;
    z-index: -1;
}

.pulse-button__rings:nth-child(2) {
    animation-name: pulse_2;
}

.pulse-button__rings:nth-child(3) {
    animation-name: pulse_3;
}

@keyframes pulse_1 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(1.3, 1.3);
    }
}

@keyframes pulse_2 {
    from {
        opacity: 1;
        transform: scale(0.8, 0.8);
    }

    to {
        opacity: 0;
        transform: scale(1.5, 1.5);
    }
}

@keyframes pulse_3 {
    from {
        opacity: 1;
        transform: scale(0.8, 0.8);
    }

    to {
        opacity: 0;
        transform: scale(1.7, 1.7);
    }
}

.rotate {
    transform: translate(-50%, -50%) rotate(90deg);
}

.opacity-image {
    opacity: 0;
}

.pulse-button-icon {
    position: fixed;
    bottom: 210px;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 12;
    transition: all 0.2s ease-in-out;
}

.pulse-button-icon_image {
    width: 50px;
    cursor: pointer;
}

.pulse-button-icon_bottom {
    bottom: 100px;
}

.header-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 11;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
}

.header-black__active {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 768.8px) {
    .header-category {
        /* display: none !important; */
        background-color: red;
    }
}

@media (max-width: 576.8px) {
    .header-title {
        /* font-size: 25px; */
    }

}