.popularMain {
    color: white;
    padding-bottom: 100px;
    background-color: #0C0C0C;
}

.popularMain-secondaryTitle {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 70px;
}

.popularMain-box {
    overflow-y: auto !important;
    width: 100%;
    max-height: 605px;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576.8px) {
    .popularMain {
        padding-bottom: 50px;
    }

    .popularMain-secondaryTitle {
        font-size: 30px;
        text-align: center;
        padding-bottom: 25px;
    }
}