.news-bg {
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.news {

}

.news-title {
    color: white;
    margin-bottom: 20px;
    margin-left: 23px;
    font-size: 30px;
}

.news-title span {
    color: #e28130;
}

.news-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.news-arrow__picture {
    width: 15px;
    cursor: pointer;
}

.news-arrow__img {
    width: 100%;
}

.news-map {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
}

.news-map__item {
    height: 250px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    background-image: url(../../../../public/img/blanket.png); 
    background-size: cover;
    background-position: center center;
}

.news-map__item-text {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.news-map__item-description {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}

.news-map__item-description span {
    color: red;

}
