.news-bg {
    /* height: 60vh; */
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;


}

.news {

    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;

}

.news-title {
    color: white;
    margin-bottom: 20px;
    margin-left: 32px;
    font-size: 30px;
}

.news-title span {
    color: #e28130;
}

.news-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.news-arrow__picture {
    width: 15px;
    cursor: pointer;
}

.news-arrow__img {
    width: 100%;
}

.news-map {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 250px);
    gap: 30px;
    width: 100%;
}

.news-map__item {
    height: 300px;
    padding: 10px;
    transition: background-image 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.news-map__item:hover {
    filter: brightness(80%);
    transition: filter 0.3s ease-in-out;
}

.news-map__item:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
}

.news-map__item-title {
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
}

.news-map__item-description {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
    color: #F07C00;
}

.news-map__item-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.news-map__item-image {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    object-fit: cover;
}

.news-map__item-image:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.news-map__item-image:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}