.news-bg {
    /* height: 60vh; */
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.news {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;

}

.news-title {
    color: white;
    margin-bottom: 20px;
    margin-left: 32px;
    font-size: 30px;
}

.news-title span {
    color: #e28130;
}

.news-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.news-arrow__picture {
    width: 15px;
    cursor: pointer;
}

.news-arrow__img {
    width: 100%;
}

.news-map {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 250px);
    gap: 30px;
    width: 100%;
}

.news-map__item-picture {
    height: 300px;
}

.news-map__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .news-map {
        grid-template-columns: repeat(4, 200px);
        gap: 20px;
    }

    .news-map__item-picture {
        height: 240px;
    }
}

@media (max-width: 992px) {
    .news-map {
        grid-template-columns: repeat(4, 150px);
        gap: 20px;
    }

    .news-map__item-picture {
        height: 180px;
    }
}

@media (max-width: 768px) {
    .news-map {
        grid-template-columns: repeat(2, 150px);
        justify-content: space-around;
        gap: 20px;
    }

    .news-map__item-picture {
        height: 180px;
    }
}

@media (max-width: 576.8px) {
    .news-map {
        grid-template-columns: repeat(2, 100px);
        justify-content: space-around;
        gap: 10px;
    }

    .news-map__item-picture {
        height: 120px;
    }
}
