.workRobes {
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #0C0C0C;
}

.boxPath {
    background-color: #232323;
    height: 50px;
    display: flex;
    align-items: center;
}

.boxPath-container {
    display: flex;
    gap: 10px;
}

.boxPath-container__arrow {
    width: 7px;
}

.boxPath-container__arrow-image {
    width: 100%;
}

.workRobes-secondaryTitle {
    font-size: 45px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 70px;
}

.workRobes-box {
    display: flex;
    height: 100vh;
    background-color: rgb(53, 52, 52);
}

.workRobes-box__productsMap {
    padding: 20px;
    background-color: #0C0C0C;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto !important;
    width: 100%;
}


@media (max-width: 1400px) {
    .workRobes-box__productsMap {
        justify-content: center;
    }
}
@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

}

@media (max-width: 576.8px) {
    .workRobes-secondaryTitle {
        font-size: 35px;
     text-align: center;
        padding-top: 50px;
        padding-bottom: 25px;
    }
}


