.filterProducts {
    background-color: #0C0C0C;
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.filterProducts-item {
    font-size: 20px;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576.8px) {

    .filterProducts {
        display: none;
    }
}