.popularMain {
    color: white;
    padding-bottom: 100px;
    background-color: #0C0C0C;
}

.popularMain-secondaryTitle {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 70px;
}

.popularMain-box {
    padding: 20px;
    background-color: #0C0C0C;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 241px);
    overflow-y: auto !important;
    width: 100%;
    height: 450px;
}
