.imageCarouselCopy {
    height: 70vh;
    width: 100vw;
    position: relative;
    top: -30vh;
    bottom: 0;
}

.image-carousel__bootstrap {}

.carousel-control-prev {}

.image-carousel__picture {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.image-carousel__img {
    height: 100%;
    width: auto;
}