.fireSafety {
    background-color: red;
    color: white;
    /* padding-top: 100px; */
    padding-bottom: 100px;
}

.boxPath {
    background-color: #232323;
height: 50px;
display: flex;
align-items: center;
}

.boxPath-container {
    display: flex;
gap: 10px;
}

.fireSafety-mainTitle {
    padding-top: 50px;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 50px;
}

.fireSafety-baner {
    height: 550px;
    background-color: blue;
}

.fireSafety-secondaryTitle {
    font-size: 45px;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 70px;
}

.fireSafety-box {
    display: grid;
    gap: 100px 35px;
    grid-template-columns: repeat(4, 1fr);
}

.fireSafety-box__item {
    height: 450px;
    background-color: green;
}


