.fireSafety {
    background-color: red;
    color: white;
    /* padding-top: 50px; */
    /* padding-bottom: 150px; */
}

.services-title {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}

.services-wripper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding-top: 100px;
}

.services-text {
/* background-color: red; */
}

.services-text__title {
    font-size: 35px;
    margin-bottom: 20px;
}

.services-text__description {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
}

.services-picture {
    height: 100%;
    overflow-y: hidden;
}

.services-picture--md {
order: -1;
}

.services-image {
    height: 100%;
}

.services-button {
    background-color: transparent;
padding: 10px 20px;
border: 2px solid orange;
border-radius: 15px;
cursor: pointer;
color: white;
width: 180px;
height: 45px;
font-weight: 500;
font-size: 18px;
margin-top: 30px;
}