.partners {
    background-color: #121212;
}

.partners-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.partners-title {
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

/* .partners-map__item {
    height: 130px;
}

.partners-map__item-picture {
    height: 100%;
    overflow: hidden;
}

.partners-map__item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.partners-map {
    display: flex;
    gap: 10px;
    overflow: hidden;
    will-change: transform;
}

.partners-map__item {
    flex-shrink: 0;
    margin-right: 50px;
    /* animation: scroll 30s linear infinite; */
/* scroll-behavior: left; */
/* direction: left; */
/* }

.partners-map__item:last-child {
    margin-right: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
} */

.wrapper {
    overflow: hidden;
}

.wrapper-all {
    display: flex;
    gap: 20px;
    width: 200%;
    animation: marquee-infinite 20s linear infinite;
}

.partners-map {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.partners-map__item-picture {
}

.partners-map__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .partners-title {
        text-align: center;
        color: white;
        margin-bottom: 20px;
        font-size: 30px;
    }
}

@media (max-width: 576.8px) {
    .partners-title {
            font-size: 20px;
    }
}