.categoriesServises {
    padding-top: 100px;
    padding-bottom: 100px;
}

.categories {
    /* display: flex;
    gap: 30px; */
}

.categories-overalls {
    grid-area: overalls;
    background-image: url(../../../../public/img/jackets.jpg);
    background-size: cover;
    background-position: center center;
    /* width: 420px; */
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.categories-overalls:hover {
    filter: brightness(60%);
    transition: filter 0.3s ease-in-out;
}

.categories-overalls:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
}

.categories-overalls__bg,
.categories-box__item-bg {
    background-color: rgba(0, 0, 0, 0.654);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-overalls__text,
.categories-box__item-text {
    color: white;
    font-size: 30px;
    font-weight: 600;
    width: 190px;
    text-align: center;
}

.categories-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "overalls item1 item2"
        "overalls item3 item4"
        "servises1 servises2 servises3";
    width: 100%;
    gap: 30px;
}

.categories-box__item {
    height: 300px;
    display: flex;
    align-items: flex-end;
    background-image: url(../../../../public/img/fire-extinguisher.png);
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.categories-box__item-bg {
    width: 100%;
}

.categories-box__item:hover {
    filter: brightness(60%);
    transition: filter 0.3s ease-in-out;
}

.categories-box__item:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
}

.item1 {
    grid-area: item1;
    background-image: url(../../../../public/img/fire-extinguisher.png); 
}

.item2 {
    grid-area: item2;
    background-image: url(../../../../public/img/backpack.jpg); 
}

.item3 {
    grid-area: item3;
    background-image: url(../../../../public/img/blanket.png); 
}

.item4 {
    grid-area: item4;
    background-image: url(../../../../public/img/compass.png); 
}


.servises {
    /* margin-top: 30px; */
    background-color: green;
    height: 300px;
    display: flex;
    align-items: flex-end;

    background-size: cover;
    background-position: center center;
}

.servises1 {
    grid-area: servises1;
    background-image: url(../../../../public/img/militaryShoes.JPG); 
}

.servises2 {
    grid-area: servises2;
    background-image: url(../../../../public/img/shevrons.JPG); 
}

.servises3 {
    grid-area: servises3;
    background-image: url(../../../../public/img/services.png); 
}

.servises:hover {
    filter: brightness(60%);
    transition: filter 0.3s ease-in-out;
}

.servises:not(:hover) {
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
}

.servises-bg {
    background-color: rgba(0, 0, 0, 0.756);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servises-text {
    color: white;
    font-size: 30px;
    font-weight: 600;
    width: 190px;
    text-align: center;
}