.services {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 150px;
}

.services-title {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}

.services-wripper {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    /* padding-bottom: 150px; */
}

.services-wripper--md {
    flex-direction: row-reverse;
}

.services-text__title {
    width: 700px;
    font-size: 35px;
    margin-bottom: 20px;
}

.services-text__description {
    width: 700px;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
}

.services-picture {
    width: 400px;
    height: 500px;
    /* margin-top: -58px; */
}

.services-image {
    width: 100%;
}

.services-button {
    background-color: transparent;
padding: 10px 20px;
border: 2px solid orange;
border-radius: 15px;
cursor: pointer;
color: white;
width: 180px;
height: 45px;
font-weight: 500;
font-size: 18px;
margin-top: 30px;
}