.services {
    background-color: black;
    color: white;
}

.services-title {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
 
}

.services-wripper {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 150px;
}

.services-text__title {
    width: 700px;
    font-size: 35px;
    margin-bottom: 20px;
}

.services-text__description {
    width: 700px;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
}

.about-picture {
    width: 400px;
    margin-top: -58px;
}

.about-image {
    width: 100%;
}